:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-regular: 500;
  --fw-bold: 700;

  --ff-fraunces: "Fraunces", serif;
  --ff-serrat: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Improve Media defaults */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* Remove built-in form typography */
input,
button,
textarea,
select {
  font: inherit;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*General styles*/

body {
  font-family: var(--ff-serrat);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background: var(--clr-secondary-200);
  display: grid;
  place-content: center;
  margin: 1rem;
}

/*button */

.button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url("./images/icon-cart.svg");
  width: 16px;
  height: 16px;
}
.button:is(:hover, :focus) {
  background: var(--clr-primary-500);
}

/* utils */

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

/* card styles */

.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  display: grid;
  background: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
.product__content {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.product__category {
  font-size: 0.8125rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product__title {
  font-size: 2rem;
  font-family: var(--ff-fraunces);
  color: var(--clr-neutral-900);
}

.product__price {
  font-size: 2rem;
  font-family: var(--ff-fraunces);
  color: var(--clr-primary-400);
}
